/* ----------------------------------
	font-family
------------------------------------ */
@import "https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@400;500;700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,500;0,700;1,400&display=swap";

$f_yuGothic: "游ゴシック体", yugothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic";
$f_ZenKakuGothicNew: "Zen Kaku Gothic New";
$f_MerriweatherSans: "Merriweather Sans";
$f_Lola: "Lora";
$f_fbMiller: "FB Miller Display Light";
