body {
    font-family: "Lato", "Noto Serif JP";
    font-weight: 100;
    font-size: 14px;
    overflow: hidden;
    height: 100%;
    letter-spacing: 1.2px;
    width: 100%;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}

a {
    transition: 0.4s all;
    &:hover {
        opacity: 0.5;
    }
}
#three {
    width: 100vw;
    height: 100vh;
    margin: auto;
}
$main_color: #ffffff;
.l-container {
    border: 1px solid $main_color;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    padding: 40px;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;

    h1 {
        color: $main_color;
        font-size: 30px;
        font-size: clamp(20px, 5vw, 30px);
        font-weight: 300;
        margin-bottom: 10px;
    }
    .subtitle {
        color: $main_color;
        margin-bottom: 40px;
    }
    header {
        max-width: 200px;
    }
    .nav {
        &__item {
            color: $main_color;
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 1.4px;
            padding-bottom: 10px;
            font-weight: 400;
            .nuxt-link-exact-active.nuxt-link-active {
                position: relative;
                &::after {
                    position: absolute;
                    left: 0;
                    bottom: -0.3rem;
                    background-color: #ffffff;
                    height: 1px;
                    width: 0%;
                    content: "";
                    animation: Fadein 0.5s ease 0s forwards;
                }
            }
        }
    }
}

.content {
    display: flex;
    justify-content: space-between;
    &__main {
        position: absolute;
        bottom: 40px;
        padding-left: 40px;
        right: 40px;
    }
}

main {
    display: flex;
}
.contact {
    color: $main_color;
    font-size: clamp(30px, 2.5vw, 40px);
    font-weight: 100;
}
.about {
    font-weight: 400;
}

.portFolio {
    color: $main_color;
    font-size: clamp(20px, 7.5vw, 90px);
    font-weight: 100;
}
.en {
    color: $main_color;
}
.ja {
    color: #d8ede0;
}

@keyframes Fadein {
    from {
        width: 0;
        opacity: 0;
    }

    to {
        width: 100%;
        opacity: 1;
    }
}
