@use "../global" as *;

$color: #333;
$height-icon: rem(20);
$width-line: rem(48);
$height-line: rem(2);
$transition-time: 0.4s;
$rotation: 45deg;
$translateY: (calc($height-icon / 2));
$translateX: 0;

.c-humburger {
  position: relative;
  z-index: var(--z-modal-humburger);

  @include mq(md) {
    display: none;
  }

  display: block;
  width: $width-line;
  height: $height-icon;

  &__line {
    position: absolute;
    left: 0;
    display: block;
    width: $width-line;
    height: $height-line;
    background: $color;
    border-radius: (calc($height-line / 2));
    transition: all $transition-time;

    &--1 {
      top: 0;
    }

    &--2 {
      top: 50%;
    }

    &--3 {
      top: 100%;
    }
  }

  &:hover,
  &:focus {
    .c-humburger__line--1 {
      transform: translateY(calc($height-line / 2 * -1));
    }

    .c-humburger__line--3 {
      transform: translateY(calc($height-line / 2));
    }
  }
}

.js-humburger.is-active {
  .c-humburger__line--1 {
    transform: translateY($translateY) translateX($translateX) rotate($rotation);
  }

  .c-humburger__line--2 {
    opacity: 0;
  }

  .c-humburger__line--3 {
    transform: translateY($translateY * -1) translateX($translateX) rotate($rotation * -1);
  }
}
