---
---

<style lang="scss">
  @use "/src/assets/scss/global" as *;

  .p-about__body {
    margin-left: auto;
    font-size: pxtovw(18, sp);
    line-height: 2;
    letter-spacing: 0.08em;

    @include mq(md) {
      max-width: pxtovw(900, pc);
      font-size: pxtovw(24, pc);
    }
  }
</style>

<section class="p-about" id="about">
  <header>
    <h1 class="p-sectionUpperText">About</h1>
  </header>
  <div class="p-about__body">
    <p>
      1995年広島県生まれ。地元の大学を卒業後、アパレル関係の販売に従事。<br />
      元々興味のあったコーディングをやるために退職し、2021年1月からアパレル系のweb制作会社に勤務。<br />
      静的ぺージはもちろん、WordPressからShopifyまで案件として携わらせていただきました。
    </p>
  </div>
</section>
