---
---

<style lang="scss">
  @use "/src/assets/scss/global" as *;

  .p-about__body {
    margin-left: auto;
    font-size: pxtovw(16, sp);
    line-height: 2;
    letter-spacing: 0.08em;

    @include mq(md) {
      max-width: pxtovw(900, pc);
      font-size: pxtovw(24, pc);
    }
  }
</style>

<section class="p-about" id="about">
  <header>
    <h1 class="p-sectionUpperText">About</h1>
  </header>
  <div class="p-about__body">
    <p>
      1995年広島県生まれの私は、地元の大学を卒業後、アパレル関係の販売に従事しました。<br />
      しかし、元々興味のあったコーディングを追求するために退職し、2021年1月からはアパレル系のweb制作会社に勤務しています。
      <br /><br />

      静的ページの制作はもちろん、WordPressからShopifyまで、様々な案件に携わってきました。<br
      />これまでの経験を通じて、web制作の基礎的なスキルを磨き、クライアントのニーズに合った解決策を提供することができるようになりました。
      <br /><br />

      今後は、さらなる技術アップのために日々学習を続けています。<br />
      モダンなフロントエンド技術に加え、より洗練されたインタラクションなどにも興味を持ち、それらを実現するために必要なスキルを身につけることが目標です。
      <br /><br />
      自分の経験とスキルを活かし、クライアントと共に最適なwebサイトを作り上げることを目指しています。
    </p>
    <!-- <h2>My skill</h2>
    <dl>
      <dt>HTML</dt>
      <dd>セマンティックなコーディングを心がけております。</dd>
      <dt>CSS</dt>
      <dd>FLOCSSなどのCSS設計を意識したコーディングが可能です。</dd>
    </dl> -->
  </div>
</section>
