---
const links = [
  { href: "/", label: "Home" },
  { href: "/#about", label: "About" },
  { href: "/article/page/1", label: "Article" },
  { href: "/#contact", label: "Contact" },
];
---

<header class="l-header">
  <nav class="l-header__menu">
    <button class="c-humburger js-humburger" title="Menu">
      <span class="c-humburger__line c-humburger__line--1"></span>
      <span class="c-humburger__line c-humburger__line--2"></span>
      <span class="c-humburger__line c-humburger__line--3"></span>
    </button>
    <ul class="l-header__list">
      {
        links.map((item) => (
          <li class="l-header__item">
            <a href={item.href}>{item.label}</a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>
