/* ----------------------------------
	Project
    articleList
------------------------------------ */

@use "../global" as *;

.p-articleList__title {
  font-size: pxtovw(18, pc);
}

.p-articleList__publishedAt {
  margin-bottom: rem(8);
  font-size: pxtovw(14, pc);
  color: var(--gray-color-70);
}

.p-articleList__thumnail {
  margin-bottom: rem(20);

  > img {
    height: 100%;
  }
}
