/* ----------------------------------
	Project
    about
------------------------------------ */

@use "../global" as *;

.p-about__body {
  margin-left: auto;
  font-size: pxtovw(16, sp);
  line-height: 2;
  letter-spacing: 0.08em;

  @include mq(md) {
    max-width: pxtovw(900, pc);
    font-size: pxtovw(24, pc);
  }
}
